@import '../../lib/style/color.scss';

.sensors {

}

.sensors-radar-screen {
    width: 500px;
    background-color: black;
}

.sensors-contact-text {
    font-size: .05px;
    fill: $primary;
    stroke: none;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}

.sensors-contact-circle {
    fill: $primary;
    stroke: $primary;
    stroke-width: .003px;
}

.sensors-grid-line {
    stroke: $tertiary;
    stroke-width: .003px;
}